<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            factory-class="org.knime.example.NumericBinnerNodeFactory"
            id="org.knime.example.NumericBinnerNodeFactory">
      </node>
   </extension>

</plugin>
